
*{
    margin: 0px 0px 0xp 0xp;
}


.typing-demo {
    animation: animated-text 2s steps(12, end) 1s 1 normal both;
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    color: rgb(255, 255, 255);
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }